Service References/Testing/testing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="testing" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64355/WebServices/testing.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64355/WebServices/testing.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64355/WebServices/testing.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Itesting_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="Itesting_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="Itesting_Multiple_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiple" />
  </wsdl:message>
  <wsdl:message name="Itesting_Multiple_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultipleResponse" />
  </wsdl:message>
  <wsdl:message name="Itesting_Addition_InputMessage">
    <wsdl:part name="parameters" element="tns:Addition" />
  </wsdl:message>
  <wsdl:message name="Itesting_Addition_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdditionResponse" />
  </wsdl:message>
  <wsdl:message name="Itesting_databasecall_InputMessage">
    <wsdl:part name="parameters" element="tns:databasecall" />
  </wsdl:message>
  <wsdl:message name="Itesting_databasecall_OutputMessage">
    <wsdl:part name="parameters" element="tns:databasecallResponse" />
  </wsdl:message>
  <wsdl:portType name="Itesting">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/Itesting/DoWork" message="tns:Itesting_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Itesting/DoWorkResponse" message="tns:Itesting_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiple">
      <wsdl:input wsaw:Action="http://tempuri.org/Itesting/Multiple" message="tns:Itesting_Multiple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Itesting/MultipleResponse" message="tns:Itesting_Multiple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Addition">
      <wsdl:input wsaw:Action="http://tempuri.org/Itesting/Addition" message="tns:Itesting_Addition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Itesting/AdditionResponse" message="tns:Itesting_Addition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="databasecall">
      <wsdl:input wsaw:Action="http://tempuri.org/Itesting/databasecall" message="tns:Itesting_databasecall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Itesting/databasecallResponse" message="tns:Itesting_databasecall_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="testing" />
</wsdl:definitions>